block config
  include _variables
doctype html
html(lang="es")
  head
    title Título de sitio
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(rel="stylesheet" href="style.css")
    link(rel="shortcut icon" href="https://icon-library.net/images/google-web-icon/google-web-icon-25.jpg")
    
  body.body
    block main

    script(src="script.js")